/*--Global----------------------------------------*/
* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  outline: 0;
  vertical-align: baseline;
}

:root {
  --main-purp: #3A3076;
  --main-purp-light: #574996;
}

html{
  font-family: Nimbus Sans, sans-serif;
}

body {
  background-image: url(images/background_image.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom right;
  background-color: var(--main-purp-light);
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 30px;
  color: white;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 300;
}

p {
  font-size: 20px;
  color: white;
  font-weight: 300;
}

.btnSmall {
  background-color: var(--main-purp);
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  padding: 0.8em;
  text-align: center;
  -webkit-box-shadow: 7px 7px 48px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 48px -13px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 48px -13px rgba(0,0,0,0.75);

}

.btnSmall p, .btnSmall img {
  display: inline-block;
  padding-right: 10px;
}

.btnLarge {
  background-color: var(--main-purp);
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  padding: 0.8em 1.5em;
  text-align: center;
  -webkit-box-shadow: 7px 7px 48px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 48px -13px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 48px -13px rgba(0,0,0,0.75);

}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-height: 2000px;
}
/*--Nav----------------------------------------*/

.mobile {
  display: none;
}

.close {
  display: none;
}

nav {
  text-align: right;
  padding-top: 40px;
}

nav a:not(:first-child){
  margin-left: 50px;
}
.logo {
  float: left;
}

#overlay {
  height: 100vh;
  width: 100%;
  text-align: center;
  z-index: 2;
  position: absolute;
  background-color: var(--main-purp);
}

#overlay a:not(:first-child) {
  width: 100%;
  display: block;
  margin: 100px 0 0 0 ;

}

#overlay a:first-child {
  float: right;
  margin: 65px 5% 0 0;
}

#overlay a:hover {
  opacity: 0.5;
}

/*--Landing----------------------------------------*/

.landing {
  margin-top: 10em;
  width: 550px;

}

.review {
  opacity: 0.7;
  margin-top: 3em;
}

/*--Responsive----------------------------------------*/

@media (max-width: 900px) {
 .desktop {
   display: none;

 }

 .mobile {
   display: block;
   margin-top: 23px;
 }

 .landing {
   width: 100%;
   margin-top: 7em;

 }

 body {
   background-size: 120%;
 }
}